# API Keys and Configuration
config.js
.env
.env.local

# macOS
.DS_Store

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build outputs
dist/
build/